<div class="appListGrid">

    {% for app in site.apps %}

    {% if app.title %}
    <div class="appItem">
        <div class="appLogoColumn">
            <div class="appLogoContainer">
                <span class="fa-stack fa-2x appLogoSpan">
                    <i class="iconBack fas fa-circle fa-stack-2x"></i>
                    <img class="appLogo" src="assets/{{ app.logo }}">
                </span>
            </div>
            <div class="appOSDetails">
                {% if app.os %}
                <i class="{{app.os}}Icon fab fa-{{app.os}}"></i>
                <p class="appItemTextSml">{{ app.os_title }}</p>
                {% endif %}
            </div>
        </div>
        <div class="appItemText">
            <h1>
                {{ app.title }}
            </h1>
            <p style="margin-bottom: 10px">
                {{ app.description }}
            </p>
            <div class="appDetailsColumn">
                <div class="appLinksContainer">
                    <span class="appInfoIconSpan">
                        <a href="{{ app.details_link }}">
                            <i style class="fa fa-xs fa-book fa-fw"></i>
                            <span class="appInfoLinksSpan">Details</span>
                        </a>
                    </span>
                    <span class="appInfoIconSpan">
                        <a href="{{ app.download_link }}">
                            <i style class="fa-github fa-brands fab fa-xs"></i>
                            <span class="appInfoLinksSpan">Download</span>
                        </a>
                    </span>
                </div>
            </div>
        </div>


    </div>
    {% endif %}

    {% endfor %}

</div>