<div class="overview">
    <div>
        <img class="largeLogo" src="{{ site.site_icon }}">
        <div class="aboutContainer">
            <p>Thanks for dropping by.
            </p>
            <br>
            <p>
                Below you'll find the links to my latest Apps specifically built to help customers gain additional value from Omnissa Workspace ONE.
            </p>
            <br>
            <p>
                Please raise any issues directly on the App's GitHub repo and feel free to reach out with any feedback or suggestions.
            </p>
        </div>
    </div>
</div>