<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <div class="imageWrapper">
            <div class="headerBackground">
                <div class="gridContainer">
                    {% include header.html %}
                    {% include overview.html %}
                    {% include grid.html %}
                </div>
                <div class="avatarContainer">
                    <div class="avatar-circle">
                        <img src="assets/me.jpg" alt="Profile photo" />
                    </div>
                </div>
                <div class="footerContainer">
                    {% include footer.html %}
                </div>
            </div>
        </div>
</body>
</html>